<section>
  <div class="container">
    <h2 class="display-5">Detalhe Cliente</h2>

    <block-ui [delayStart]="500" [delayStop]="500">

      <form [formGroup]="formularioCliente" (ngSubmit)="onSubmit()">
        <div class="row p-3">
          <div class="col-md-4">
            <label for="formGroupInput">CPF</label>
            <input formControlName="cpf" mask="000.000.000-00" type="text" class="form-control" id="formGroupInput">
          </div>
          <div class="col-md-8">
            <label for="formGroupInput">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="formGroupInput">
          </div>
        </div>
        <div formGroupName="endereco">
          <div class="row p-3">
            <div class="col-md-2">
              <label for="formGroupInput">CEP</label>
              <input formControlName="cep" mask="00000-000" type="text" class="form-control"
                (blur)=consultaCep($event.target.value) id="formGroupInput">
            </div>
            <div class="col-md-8">
              <label for="formGroupInput">Logradouro</label>
              <input readonly formControlName="logradouro" type="text" class="form-control" id="formGroupInput">
            </div>
            <div class="col-md-2">
              <label for="formGroupInput">Número</label>
              <input formControlName="numero" type="text" class="form-control" id="formGroupInput">
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-5">
              <label for="formGroupInput">Bairro</label>
              <input readonly formControlName="bairro" type="text" class="form-control" id="formGroupInput">
            </div>
            <div class="col-md-5">
              <label for="formGroupInput">Cidade</label>
              <input readonly formControlName="cidade" type="text" class="form-control" id="formGroupInput">
            </div>
            <div class="col-md-2">
              <label for="formGroupInput">UF</label>
              <input readonly formControlName="uf" type="text" class="form-control" id="formGroupInput">
            </div>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-md-12 d-flex justify-content-end">
            <button (click)="voltarListagemClientes()" type="button" class="btn btn-secondary"
              style="margin-right: 20px;">Voltar</button>
            <button (click)="excluirCliente()" type="button" class="btn btn-danger" style="width: 150px;margin-right: 20px;">Excluir</button>
            <button type="submit" class="btn btn-dark" style="width: 150px;">Salvar</button>
          </div>
        </div>
      </form>

    </block-ui>

  </div>
</section>