<section>
  <div class="container">
    <h2 class="display-5">Detalhe Cliente</h2>
    <form>
      <div class="row p-3">
        <div class="col-md-4">
          <label for="formGroupInput">CPF</label>
          <input type="text" class="form-control" id="formGroupInput">
        </div>
        <div class="col-md-8">
          <label for="formGroupInput">Nome</label>
          <input type="text" class="form-control" id="formGroupInput">
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-2">
          <label for="formGroupInput">CEP</label>
          <input type="text" class="form-control" id="formGroupInput">
        </div>
        <div class="col-md-10">
          <label for="formGroupInput">Logradouro</label>
          <input type="text" class="form-control" id="formGroupInput">
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-5">
          <label for="formGroupInput">Bairro</label>
          <input type="text" class="form-control" id="formGroupInput">
        </div>
        <div class="col-md-5">
          <label for="formGroupInput">Cidade</label>
          <input type="text" class="form-control" id="formGroupInput">
        </div>
        <div class="col-md-2">
          <label for="formGroupInput">UF</label>
          <input type="text" class="form-control" id="formGroupInput">
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-12 d-flex justify-content-end">
          <button type="button" class="btn btn-secondary" style="margin-right: 20px;">Voltar</button>
          <button type="button" class="btn btn-danger" style="width: 150px;margin-right: 20px;">Excluir</button>
          <button type="button" class="btn btn-dark" style="width: 150px;">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</section>