<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h1 class="display-4">Seu patrimônio protegido</h1>
          <p class="text-justify">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="col-md-5 d-none d-md-block">
        <img style="margin-left: 150px;" width="400" src="../../assets/seguros.png" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 d-none d-md-block">
        <img style="margin-left: 100px;" width="400" src="../../assets/relogio.png" alt="">
      </div>
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h1 class="display-4">Zero Burocracia</h1>
          <p class="text-justify">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>